# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset: `combined_dataset.csv`.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# load dataset

df = pd.read_csv('combined_dataset.csv')

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [3]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]

In [4]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg
model
ACURA RDX     19.000000  22.500000
AUDI A3       23.333333  28.000000
AUDI A4       21.000000  27.000000
AUDI A6       19.666667  25.666667
AUDI A8 L     16.500000  22.000000

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [5]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [6]:
pd.set_option('display.max_rows', model_mpg.shape[0]+1)
print(model_mpg)

                             cmb_mpg_2008    cmb_mpg  mpg_change
model
ACURA RDX                       19.000000  22.500000    3.500000
AUDI A3                         23.333333  28.000000    4.666667
AUDI A4                         21.000000  27.000000    6.000000
AUDI A6                         19.666667  25.666667    6.000000
AUDI A8 L                       16.500000  22.000000    5.500000
AUDI Q7                         15.000000  21.000000    6.000000
AUDI S4                         15.500000  24.000000    8.500000
AUDI S5                         16.000000  24.000000    8.000000
AUDI TT Coupe                   21.666667  26.000000    4.333333
AUDI TT Roadster                21.333333  26.000000    4.666667
BMW 750i                        20.000000  19.500000   -0.500000
BMW Alpina B7                   18.000000  19.000000    1.000000
BMW M6 Convertible              14.000000  16.500000    2.500000
CADILLAC CTS                    20.000000  22.800000    2.800000
CADILLAC Escalade               14.000000  17.000000    3.000000
CHEVROLET Corvette              18.000000  17.750000   -0.250000
CHEVROLET Equinox               19.000000  27.833333    8.833333
CHEVROLET Impala                20.500000  21.250000    0.750000
CHEVROLET Malibu                22.333333  33.000000   10.666667
CHEVROLET Silverado 15          16.000000  17.312500    1.312500
CHEVROLET Tahoe 1500            14.000000  16.875000    2.875000
CHRYSLER 300                    18.800000  20.000000    1.200000
CHRYSLER Pacifica               17.333333  22.000000    4.666667
DODGE Challenger                15.000000  19.000000    4.000000
DODGE Charger                   18.800000  19.750000    0.950000
DODGE Durango                   15.200000  19.000000    3.800000
FORD F150                       15.000000  19.545455    4.545455
FORD Fusion                     21.333333  24.000000    2.666667
GMC Acadia                      18.500000  21.750000    3.250000
GMC Sierra 15                   15.200000  17.312500    2.112500
GMC Yukon 1500                  14.000000  16.875000    2.875000
HONDA Fit                       30.000000  33.333333    3.333333
HONDA Ridgeline                 17.000000  21.500000    4.500000
HYUNDAI Elantra                 27.666667  30.333333    2.666667
HYUNDAI Santa Fe                19.500000  20.500000    1.000000
HYUNDAI Sonata                  23.666667  28.250000    4.583333
JEEP Compass                    23.666667  25.250000    1.583333
JEEP Grand Cherokee             15.142857  19.666667    4.523810
KIA Optima                      25.000000  28.000000    3.000000
KIA Rio                         29.000000  32.000000    3.000000
KIA Sedona                      18.000000  20.000000    2.000000
KIA Sorento                     17.000000  21.666667    4.666667
KIA Sportage                    20.600000  23.333333    2.733333
LEXUS LX 570                    14.000000  15.000000    1.000000
MASERATI Granturismo            17.000000  16.000000   -1.000000
MAZDA 3                         24.400000  30.833333    6.433333
MAZDA CX-9                      17.500000  23.500000    6.000000
MERCEDES-BENZ C300              18.000000  25.666667    7.666667
MERCEDES-BENZ SL550             16.000000  20.000000    4.000000
NISSAN Armada                   14.000000  15.500000    1.500000
NISSAN Versa                    28.000000  31.400000    3.400000
PORSCHE 911 Turbo               18.000000  21.000000    3.000000
PORSCHE 911 Turbo Cabriolet     18.000000  21.000000    3.000000
PORSCHE Boxster                 22.000000  24.500000    2.500000
PORSCHE Boxster S               21.000000  23.000000    2.000000
PORSCHE Cayenne S               15.000000  20.000000    5.000000
SUBARU Forester                 21.500000  25.666667    4.166667
SUBARU Impreza                  21.750000  29.000000    7.250000
SUBARU Legacy                   21.125000  26.000000    4.875000
TOYOTA 4Runner                  16.750000  18.000000    1.250000
TOYOTA Avalon                   22.000000  24.000000    2.000000
TOYOTA Camry                    24.250000  30.000000    5.750000
TOYOTA Corolla                  30.000000  31.000000    1.000000
TOYOTA Land Cruiser             15.000000  15.000000    0.000000
TOYOTA RAV4                     22.250000  25.000000    2.750000
TOYOTA Sequoia                  14.750000  14.500000   -0.250000
TOYOTA Tundra                   15.400000  15.250000   -0.150000
TOYOTA Yaris                    31.500000  32.500000    1.000000
VOLKSWAGEN Jetta                24.166667  30.000000    5.833333
VOLKSWAGEN Passat               21.250000  29.000000    7.750000
VOLVO S60                       21.333333  27.000000    5.666667
VOLVO XC 90                     15.666667  32.200000   16.533333

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [7]:
max_change = model_mpg['mpg_change'].max()
max_change

16.53333333333334

In [8]:
model_mpg[model_mpg['mpg_change'] == max_change]

             cmb_mpg_2008  cmb_mpg  mpg_change
model
VOLVO XC 90     15.666667     32.2   16.533333

Pandas also has a useful [`idxmax`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html) function you can use to find the index of the row containing a column's maximum value!

In [9]:
idx = model_mpg.mpg_change.idxmax()
idx

'VOLVO XC 90'

In [10]:
model_mpg.loc[idx]

cmb_mpg_2008    15.666667
cmb_mpg         32.200000
mpg_change      16.533333
Name: VOLVO XC 90, dtype: float64